
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Add Customer Details</mat-card-title>
          <mat-card-subtitle>Enter the value</mat-card-subtitle>
        </mat-card-header>
       
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter Customer Fullname">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Surname">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder=" Customer Mobile No">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Select Customer Type">
                      <mat-option value="option">Banker</mat-option>
                      <mat-option value="option">Business</mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Select City">
                      <mat-option value="option">Mumbai</mat-option>
                      <mat-option value="option">Pune</mat-option>
                      <mat-option value="option">Banglore</mat-option>
                      <mat-option value="option">Allahabad</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-radio-group>
                      <mat-radio-button value="1">Male</mat-radio-button>
                      <mat-radio-button value="2">Female</mat-radio-button>
                    </mat-radio-group>
              
            
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker" placeholder="Birth Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="example-full-width"> 
                <textarea matInput placeholder="Other Details"></textarea>
              </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
 
          <button mat-button color="primary">ADD</button>
        </mat-card-actions>
      </mat-card>
      
  
